@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap);

.credit-card-widget .card-header::before {
    background: linear-gradient(225deg, #3a57e8 6%, #6179ed 56%);
    top: -45px;
    left: -3.125rem;
    content: "";
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}.credit-card-widget .card-header::after {
    background: linear-gradient(145deg, #079aa2 6%, #079aa2 56%);
    bottom: -45px;
    right: -3.125rem;
    content: "";
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}.credit-card-widget .primary-gradient-card {
    background: linear-gradient(
        117.76deg,
        rgba(255, 255, 255, 0.5) -7.21%,
        rgba(255, 255, 255, 0.01) 118.08%
    );
    color: #fff;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}.btn-soft-light {
    background-color: rgba(222, 226, 230, 0.2);
    border-color: rgba(222, 226, 230, 0);
}.data-scrollbar {
    max-height: 92vh;
}::-webkit-file-upload-button {
    color: #a0aec0;
    background-color: white;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    font-weight: 500;
}#choose {
    background-color: white;
    color: #a0aec0;
    font-size: large;
    font-weight: 400;
}#choose::-webkit-file-upload-button {
    background-color: white;
    color: #a0aec0;
    font-size: large;
    font-weight: 400;
    border-right: 1px solid #f3f4f5;
}#choose::-webkit-file-upload-button:hover {
    background-color: #f3f4f5;
}#choose1 {
    background-color: white;
    color: #a0aec0;
    font-size: large;
    font-weight: 400;
}#choose1::-webkit-file-upload-button {
    background-color: white;
    color: #a0aec0;
    font-size: large;
    font-weight: 400;
    border-right: 1px solid #f3f4f5;
}#choose1::-webkit-file-upload-button:hover {
    background-color: #f3f4f5;
}#choose2::-webkit-file-upload-button {
    background-color: white;
    color: #a0aec0;
    font-size: large;
    font-weight: 400;
    border-right: 1px solid #dd1a0c;
}#choose2::-webkit-file-upload-button:hover {
    background-color: #f3f4f5;
}.is-valid{
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.25rem) center;
    background-size: 1.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%231aa053' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}.is-invalid{
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.25rem) center;
    background-size: 1.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23c03221'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23c03221' stroke='none'/%3e%3c/svg%3e");
}.is-invalid1{
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 1.5rem) center;
    background-size: 1.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23c03221'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23c03221' stroke='none'/%3e%3c/svg%3e");
}.custom-swiper-slider .swiper-pagination-bullet {
    height: 16px;
    width: 16px;
    background: #fff;
}.custom-swiper-slider .swiper-button-next {
    color: #bbb6b6;
}.custom-swiper-slider .swiper-button-prev {
    color: #bbb6b6;
}.custom-swiper-slider .swiper-slide {
    width: 100% !important;
}/* Toggle A */input:checked ~ .dot {
    transform: translateX(100%);
    background-color: white;
}/* Toggle B */input:checked ~ .dot {
    transform: translateX(100%);
    background-color: white;
}.scrollspy li.active > a {
    color: #fff;
    border-radius: 50px;
}#range1::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: -405px 0 0 400px blue;
    border-radius: 50%;
}#range2::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: -405px 0 0 400px #c5c5c5;
    border-radius: 50%;
}#range3::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: -405px 0 0 400px #07a007;
    border-radius: 50%;
}#range4::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: -405px 0 0 400px #e00000;
    border-radius: 50%;
}#range5::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: -405px 0 0 400px #eb9800;
    border-radius: 50%;
}#range6::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: -405px 0 0 400px black;
    border-radius: 50%;
}.sidebar {
    transition: 700ms;
}.navbar {
    transition: 700ms;
}.dark .credit-card-widget .primary-gradient-card {
    background: linear-gradient(
        117.76deg,
        rgba(0, 0, 0, 0.5) -7.21%,
        rgba(0, 0, 0, 0.01) 118.08%
    );
}@-webkit-keyframes animScaleX {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.175);
    }
    100% {
        transform: scale(1);
    }
}@keyframes animScaleX {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.175);
    }
    100% {
        transform: scale(1);
    }
}@-webkit-keyframes animScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.175);
    }
    100% {
        transform: scale(1);
    }
}@keyframes animScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.175);
    }
    100% {
        transform: scale(1);
    }
}@-webkit-keyframes animRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}@keyframes animRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}.animated-scaleX {
    -webkit-animation: animScale 45s 1s ease-in-out infinite;
            animation: animScale 45s 1s ease-in-out infinite;
}.animated-scale {
    -webkit-animation: animScale 45s 1s ease-in-out infinite;
            animation: animScale 45s 1s ease-in-out infinite;
}.animated-rotate {
    -webkit-animation: animRotate 8s 0s ease-in-out infinite;
            animation: animRotate 8s 0s ease-in-out infinite;
}/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript *//**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}/* Code blocks */pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    border-radius: 0.3em;
}:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}/* Inline code */:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #8292a2;
}.token.punctuation {
    color: #f8f8f2;
}.token.namespace {
    opacity: 0.7;
}.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}.token.boolean,
.token.number {
    color: #ae81ff;
}.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #e6db74;
}.token.keyword {
    color: #66d9ef;
}.token.regex,
.token.important {
    color: #fd971f;
}.token.important,
.token.bold {
    font-weight: bold;
}.token.italic {
    font-style: italic;
}.token.entity {
    cursor: help;
}.countdown {
    margin: 30px 0;
    padding: 0;
}.countdown li span {
    font-size: 30px;
    display: inline-block;
    width: 100%;
    color: #fff;
}.countdown li:last-child {
    margin-right: 0;
}.iq-comingsoon-form {
    position: relative;
}.iq-comingsoon-form button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px 30px;
}.loader.simple-loader {
    background-color: #f5f6fa;
    height: 100%;
    width: 100%;
    position: fixed;
    place-content: center;
    overflow: hidden !important;
    right: 0px;
    z-index: 1250;
}.loader.simple-loader .loader-body {
    background: url(/images/loader.gif?6966f0089bc5002d2a172b17a97d6263) no-repeat scroll center center;
    background-size: 20%;
    width: 100%;
    height: 100%;
    position: relative;
}html {
    scroll-behavior: smooth;
}.sidebar{
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 40;
    display: block;
    width: 100%;
    max-width: 16.2rem;
}.sidebar + .main-content {
    margin-left: 16.2rem;
}.sidebar .sidebar-logo{
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    opacity: 1;
}.sidebar .sidebar-body{
    position: relative;
    display: block;
    max-height: 100vh;
    overflow: scroll;
    padding-top: 0px;
    padding-right: 1rem;
}.sidebar .sidebar-body .iq-main-menu{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-left: 0px;
}.sidebar .sidebar-body .iq-main-menu .default-icon{
    font-weight: 500;
}.sidebar .sidebar-body .iq-main-menu .mini-icon{
    display: none;
}.sidebar .sidebar-body .iq-main-menu .iq-sidebar{
    position: relative;
    margin-top: 0.25rem;
    padding-left: 1rem;
}.sidebar .sidebar-body .iq-main-menu .iq-sidebar .item-name{
    margin-left: 1rem;
    flex: 1 1 0%;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    opacity: 1;
}.sidebar .sidebar-body .iq-main-menu .nav-link{
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}@media (max-width: 1199.98px) {
    .sidebar + .main-content {
        margin-left: 0;
    }
    .sidebar .sidebar-toggle {
        right: 18px;
    }
    .dual-compact + .main-content {
        margin-left: 0;
    }
}.dual-compact{
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 40;
    display: block;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    max-width: 100%;
}.dual-compact + .main-content {
    margin-left: 16.2rem;
}.dual-compact-mini{
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 40;
    display: block;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    max-width: 4.8rem;
}.dual-compact-mini + .main-content {
    margin-left: 4.8rem;
}.sidebar-mini{
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 40;
    display: block;
    max-width: 4.8rem;
}.sidebar-mini + .main-content {
    margin-left: 4.8rem;
}.sidebar-mini .sidebar-logo{
    display: none;
}.sidebar-mini .sidebar-body{
    position: relative;
    display: block;
    max-height: 100vh;
    overflow: scroll;
    padding-left: 1rem;
    padding-top: 0px;
    padding-right: 1rem;
}.sidebar-mini .sidebar-body .iq-main-menu{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0px;
}.sidebar-mini .sidebar-body .iq-main-menu .default-icon{
    display: none;
}.sidebar-mini .sidebar-body .iq-main-menu .mini-icon{
    display: block;
}.sidebar-mini .sidebar-body .iq-main-menu .iq-sidebar{
    position: relative;
    margin-top: 0.25rem;
    padding-left: 0px;
}.sidebar-mini .sidebar-body .iq-main-menu .iq-sidebar .item-name{
    display: none;
}.sidebar-mini .sidebar-body .iq-main-menu .iq-sidebar .right-icon{
    display: none;
}.sidebar-mini .sidebar-body .iq-main-menu .nav-link{
    display: flex;
    border-radius: 0.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(58 87 232 / var(--tw-bg-opacity));
    padding: 0.75rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    --tw-shadow: 0 10px 30px 0 rgba(17, 38, 146, 0.05);
    --tw-shadow-colored: 0 10px 30px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}@media (max-width: 1199.98px) {
    .sidebar.sidebar-mini + .main-content {
        margin-left: 0;
    }
    .sidebar.sidebar-mini {
        transform: translateX(-150%);
    }
    .dual-compact.dual-compact-mini + .main-content {
        margin-left: 0;
    }
    .dual-compact.dual-compact-mini {
        transform: translateX(-100%);
    }
}.d-activity {
    min-height: 230px !important;
}.type {
    transform: translateX(-50%);
}.active{
    --tw-bg-opacity: 1;
    background-color: rgb(58 87 232 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}.gradient{
    position: relative;
    margin: auto;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: radial-gradient(20% 60% at 50% 50%, #3b8aff 0%, #0048b3 100%);
}.gradient .c {
    background: radial-gradient(
        60% 60% at 50% 50%,
        transparent 67%,
        rgba(0, 0, 0, 0.470588) 100%
    );
    padding: 9rem;
}.gradient .c .xs-circle {
    padding: 330px;
}.gradient-bottom{
    position: relative;
    margin: auto;
    display: flex;
    height: 24rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: radial-gradient(20% 60% at 50% 50%, #3b8aff 0%, #0048b3 100%);
}.gradient-bottom .c {
    background: radial-gradient(
        60% 60% at 50% 50%,
        transparent 67%,
        rgba(0, 0, 0, 0.470588) 100%
    );
    padding: 9rem;
}.gradient-bottom .c .xl-circle {
    transform: translate(223px, -342px);
}.gradient-bottom .c .lg-circle {
    transform: translate(84px, 26px);
}.gradient-bottom .c .md-circle {
    transform: translate(114px, 16px);
}.gradient-bottom .c .sm-circle {
    transform: translate(62px, 14px);
}.gradient-bottom .c .xs-circle {
    padding: 250px;
    transform: translate(41px, 15px);
}[dir="rtl"] .sidebar + .main-content {
    margin-right: 16.2rem;
    margin-left: unset;
}[dir="rtl"] .sidebar-mini + .main-content {
    margin-left: unset;
    margin-right: 4.8rem;
}[dir="rtl"] .LR {
    direction: ltr;
}[dir="rtl"] .RL {
    direction: rtl;
}[dir="rtl"] .right-0 {
    left: 0px;
    right: unset;
}[dir="rtl"] .right-72 {
    left: 18rem;
    right: unset;
}[dir="rtl"] .right-80 {
    left: 20rem;
    right: unset;
}[dir="rtl"] .right-60 {
    left: 15rem;
    right: unset;
}[dir="rtl"] .right-4 {
    left: 1rem;
    right: unset;
}[dir="rtl"] .sidearrow {
    left: -1rem;
    right: unset;
}[dir="rtl"] .left-0 {
    right: 0rem;
    left: unset;
}@media (max-width: 1199.98px) {
    [dir="rtl"] .sidebar.sidebar-mini {
        transform: translateX(0%);
        display: none;
    }
    [dir="rtl"] .sidebar + .main-content {
        margin-right: 0;
        margin-left: unset;
    }
    [dir="rtl"] .sidebar-mini + .main-content {
        margin-left: unset;
        margin-right: 0;
    }
}[dir="rtl"] .shadow-active .right-icon {
    transform: rotate(-90deg) !important;
}[dir="rtl"] .L {
    left: 0rem !important;
    right: unset !important;
}[dir="rtl"] .R {
    right: 0rem !important;
}/* ! tailwindcss v3.0.8 | MIT License | https://tailwindcss.com *//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}::before,
::after {
  --tw-content: '';
}/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: "Inter", system-ui, sans-serif, -apple-system, "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}/*
Remove the default font size and weight for headings.
*/h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}/*
Reset links to optimize for opt-in styling instead of opt-out.
*/a {
  color: inherit;
  text-decoration: inherit;
}/*
Add the correct font weight in Edge and Safari.
*/b,
strong {
  font-weight: bolder;
}/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}/*
Add the correct font size in all browsers.
*/small {
  font-size: 80%;
}/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}sub {
  bottom: -0.25em;
}sup {
  top: -0.5em;
}/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}/*
Remove the inheritance of text transform in Edge and Firefox.
*/button,
select {
  text-transform: none;
}/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}/*
Use the modern Firefox focus style for all focusable elements.
*/:-moz-focusring {
  outline: auto;
}/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/:-moz-ui-invalid {
  box-shadow: none;
}/*
Add the correct vertical alignment in Chrome and Firefox.
*/progress {
  vertical-align: baseline;
}/*
Correct the cursor style of increment and decrement buttons in Safari.
*/::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}/*
Remove the inner padding in Chrome and Safari on macOS.
*/::-webkit-search-decoration {
  -webkit-appearance: none;
}/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}/*
Add the correct display in Chrome and Safari.
*/summary {
  display: list-item;
}/*
Removes the default spacing and border for appropriate elements.
*/blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}fieldset {
  margin: 0;
  padding: 0;
}legend {
  padding: 0;
}ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}/*
Prevent resizing textareas horizontally by default.
*/textarea {
  resize: vertical;
}/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #ced4da; /* 2 */
}input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #ced4da; /* 2 */
}input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #ced4da; /* 2 */
}/*
Set the default cursor for buttons.
*/button,
[role="button"] {
  cursor: pointer;
}/*
Make sure disabled buttons don't get the pointer cursor.
*/:disabled {
  cursor: default;
}/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/img,
video {
  max-width: 100%;
  height: auto;
}/*
Ensure the default browser behavior of the `hidden` attribute.
*/[hidden] {
  display: none;
}*, ::before, ::after{
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgb(233 236 239 / var(--tw-border-opacity));
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(58 87 232 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}.fixed{
    position: fixed;
}.absolute{
    position: absolute;
}.relative{
    position: relative;
}.top-12{
    top: 3rem;
}.top-14{
    top: 3.5rem;
}.right-64{
    right: 16rem;
}.right-0{
    right: 0px;
}.top-5{
    top: 1.25rem;
}.right-48{
    right: 12rem;
}.right-4{
    right: 1rem;
}.top-0{
    top: 0px;
}.left-0{
    left: 0px;
}.top-96{
    top: 24rem;
}.bottom-0{
    bottom: 0px;
}.z-0{
    z-index: 0;
}.z-40{
    z-index: 40;
}.z-50{
    z-index: 50;
}.float-left{
    float: left;
}.m-0{
    margin: 0px;
}.m-1{
    margin: 0.25rem;
}.mx-auto{
    margin-left: auto;
    margin-right: auto;
}.my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}.mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
}.mx-1{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}.mx-2{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}.ml-3{
    margin-left: 0.75rem;
}.-ml-px{
    margin-left: -1px;
}.mb-2{
    margin-bottom: 0.5rem;
}.ml-auto{
    margin-left: auto;
}.mb-0{
    margin-bottom: 0px;
}.mr-2{
    margin-right: 0.5rem;
}.ml-4{
    margin-left: 1rem;
}.mr-4{
    margin-right: 1rem;
}.mb-3{
    margin-bottom: 0.75rem;
}.mt-1{
    margin-top: 0.25rem;
}.mb-5{
    margin-bottom: 1.25rem;
}.mt-3{
    margin-top: 0.75rem;
}.mt-4{
    margin-top: 1rem;
}.-mt-1{
    margin-top: -0.25rem;
}.mb-4{
    margin-bottom: 1rem;
}.mt-6{
    margin-top: 1.5rem;
}.-ml-6{
    margin-left: -1.5rem;
}.mt-2{
    margin-top: 0.5rem;
}.ml-1{
    margin-left: 0.25rem;
}.ml-2{
    margin-left: 0.5rem;
}.mt-8{
    margin-top: 2rem;
}.ml-12{
    margin-left: 3rem;
}.-mt-px{
    margin-top: -1px;
}.mb-6{
    margin-bottom: 1.5rem;
}.block{
    display: block;
}.inline-block{
    display: inline-block;
}.inline{
    display: inline;
}.flex{
    display: flex;
}.inline-flex{
    display: inline-flex;
}.table{
    display: table;
}.grid{
    display: grid;
}.hidden{
    display: none;
}.h-5{
    height: 1.25rem;
}.h-10{
    height: 2.5rem;
}.h-12{
    height: 3rem;
}.h-8{
    height: 2rem;
}.h-6{
    height: 1.5rem;
}.h-screen{
    height: 100vh;
}.h-full{
    height: 100%;
}.h-20{
    height: 5rem;
}.h-4{
    height: 1rem;
}.h-72{
    height: 18rem;
}.h-16{
    height: 4rem;
}.h-1{
    height: 0.25rem;
}.max-h-0{
    max-height: 0px;
}.min-h-screen{
    min-height: 100vh;
}.w-5{
    width: 1.25rem;
}.w-full{
    width: 100%;
}.w-80{
    width: 20rem;
}.w-10{
    width: 2.5rem;
}.w-12{
    width: 3rem;
}.w-40{
    width: 10rem;
}.w-8{
    width: 2rem;
}.w-6{
    width: 1.5rem;
}.w-2\/4{
    width: 50%;
}.w-20{
    width: 5rem;
}.w-4{
    width: 1rem;
}.w-screen{
    width: 100vw;
}.w-48{
    width: 12rem;
}.w-auto{
    width: auto;
}.w-0{
    width: 0px;
}.max-w-full{
    max-width: 100%;
}.max-w-6xl{
    max-width: 72rem;
}.max-w-xl{
    max-width: 36rem;
}.max-w-7xl{
    max-width: 80rem;
}.flex-1{
    flex: 1 1 0%;
}.flex-auto{
    flex: 1 1 auto;
}.flex-grow-0{
    flex-grow: 0;
}.origin-top-left{
    transform-origin: top left;
}.origin-top{
    transform-origin: top;
}.origin-top-right{
    transform-origin: top right;
}.translate-y-16{
    --tw-translate-y: 4rem;
    transform: var(--tw-transform);
}.translate-y-0{
    --tw-translate-y: 0px;
    transform: var(--tw-transform);
}.scale-95{
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: var(--tw-transform);
}.scale-100{
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: var(--tw-transform);
}.transform{
    transform: var(--tw-transform);
}.cursor-default{
    cursor: default;
}.cursor-pointer{
    cursor: pointer;
}.list-inside{
    list-style-position: inside;
}.list-disc{
    list-style-type: disc;
}.grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
}.grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}.grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}.flex-row{
    flex-direction: row;
}.flex-col{
    flex-direction: column;
}.flex-wrap{
    flex-wrap: wrap;
}.items-center{
    align-items: center;
}.justify-start{
    justify-content: flex-start;
}.justify-end{
    justify-content: flex-end;
}.justify-center{
    justify-content: center;
}.justify-between{
    justify-content: space-between;
}.gap-7{
    gap: 1.75rem;
}.gap-8{
    gap: 2rem;
}.space-x-6 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}.overflow-hidden{
    overflow: hidden;
}.overflow-x-hidden{
    overflow-x: hidden;
}.whitespace-nowrap{
    white-space: nowrap;
}.break-all{
    word-break: break-all;
}.rounded-md{
    border-radius: 0.375rem;
}.rounded{
    border-radius: 0.25rem;
}.rounded-full{
    border-radius: 9999px;
}.rounded-2xl{
    border-radius: 1rem;
}.rounded-lg{
    border-radius: 0.5rem;
}.rounded-l-md{
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}.rounded-r-md{
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}.rounded-t-lg{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}.rounded-b-lg{
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}.rounded-t{
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}.rounded-b{
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}.border{
    border-width: 1px;
}.border-2{
    border-width: 2px;
}.border-b{
    border-bottom-width: 1px;
}.border-l-4{
    border-left-width: 4px;
}.border-t{
    border-top-width: 1px;
}.border-r{
    border-right-width: 1px;
}.border-gray-300{
    --tw-border-opacity: 1;
    border-color: rgb(222 226 230 / var(--tw-border-opacity));
}.border-gray-500{
    --tw-border-opacity: 1;
    border-color: rgb(173 181 189 / var(--tw-border-opacity));
}.border-indigo-400{
    --tw-border-opacity: 1;
    border-color: rgb(129 140 248 / var(--tw-border-opacity));
}.border-transparent{
    border-color: transparent;
}.border-blue-500{
    --tw-border-opacity: 1;
    border-color: rgb(58 87 232 / var(--tw-border-opacity));
}.border-gray-200{
    --tw-border-opacity: 1;
    border-color: rgb(233 236 239 / var(--tw-border-opacity));
}.border-gray-400{
    --tw-border-opacity: 1;
    border-color: rgb(206 212 218 / var(--tw-border-opacity));
}.bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}.bg-blue-500{
    --tw-bg-opacity: 1;
    background-color: rgb(58 87 232 / var(--tw-bg-opacity));
}.bg-blue-100{
    --tw-bg-opacity: 1;
    background-color: rgb(216 221 250 / var(--tw-bg-opacity));
}.bg-green-500{
    --tw-bg-opacity: 1;
    background-color: rgb(26 160 83 / var(--tw-bg-opacity));
}.bg-body{
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 248 / var(--tw-bg-opacity));
}.bg-gray-100{
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 250 / var(--tw-bg-opacity));
}.bg-indigo-50{
    --tw-bg-opacity: 1;
    background-color: rgb(238 242 255 / var(--tw-bg-opacity));
}.bg-orange-500{
    --tw-bg-opacity: 1;
    background-color: rgb(241 106 27 / var(--tw-bg-opacity));
}.bg-center{
    background-position: center;
}.bg-no-repeat{
    background-repeat: no-repeat;
}.fill-current{
    fill: currentColor;
}.object-cover{
    -o-object-fit: cover;
       object-fit: cover;
}.p-2{
    padding: 0.5rem;
}.p-0{
    padding: 0px;
}.p-1{
    padding: 0.25rem;
}.p-10{
    padding: 2.5rem;
}.p-6{
    padding: 1.5rem;
}.p-8{
    padding: 2rem;
}.p-4{
    padding: 1rem;
}.px-4{
    padding-left: 1rem;
    padding-right: 1rem;
}.py-2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}.px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}.px-7{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}.px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}.py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}.py-0{
    padding-top: 0px;
    padding-bottom: 0px;
}.py-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}.py-0\.5{
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}.px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}.px-3{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}.px-11{
    padding-left: 2.75rem;
    padding-right: 2.75rem;
}.pt-6{
    padding-top: 1.5rem;
}.pl-3{
    padding-left: 0.75rem;
}.pr-4{
    padding-right: 1rem;
}.pl-6{
    padding-left: 1.5rem;
}.pt-8{
    padding-top: 2rem;
}.pb-4{
    padding-bottom: 1rem;
}.pt-2{
    padding-top: 0.5rem;
}.text-left{
    text-align: left;
}.text-center{
    text-align: center;
}.text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
}.text-base{
    font-size: 1rem;
    line-height: 1.5rem;
}.text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
}.text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
}.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}.text-xs{
    font-size: 0.75rem;
    line-height: 1rem;
}.text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
}.text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
}.font-medium{
    font-weight: 500;
}.font-semibold{
    font-weight: 600;
}.font-bold{
    font-weight: 700;
}.font-normal{
    font-weight: 400;
}.uppercase{
    text-transform: uppercase;
}.italic{
    font-style: italic;
}.leading-5{
    line-height: 1.25rem;
}.leading-none{
    line-height: 1;
}.leading-7{
    line-height: 1.75rem;
}.leading-tight{
    line-height: 1.25;
}.tracking-wider{
    letter-spacing: 0.05em;
}.text-gray-500{
    --tw-text-opacity: 1;
    color: rgb(173 181 189 / var(--tw-text-opacity));
}.text-gray-700{
    --tw-text-opacity: 1;
    color: rgb(73 80 87 / var(--tw-text-opacity));
}.text-gray-600{
    --tw-text-opacity: 1;
    color: rgb(108 117 125 / var(--tw-text-opacity));
}.text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}.text-blue-400{
    --tw-text-opacity: 1;
    color: rgb(97 121 237 / var(--tw-text-opacity));
}.text-blue-500{
    --tw-text-opacity: 1;
    color: rgb(58 87 232 / var(--tw-text-opacity));
}.text-red-600{
    --tw-text-opacity: 1;
    color: rgb(154 40 26 / var(--tw-text-opacity));
}.text-indigo-700{
    --tw-text-opacity: 1;
    color: rgb(67 56 202 / var(--tw-text-opacity));
}.text-green-600{
    --tw-text-opacity: 1;
    color: rgb(21 128 66 / var(--tw-text-opacity));
}.text-gray-200{
    --tw-text-opacity: 1;
    color: rgb(233 236 239 / var(--tw-text-opacity));
}.text-gray-300{
    --tw-text-opacity: 1;
    color: rgb(222 226 230 / var(--tw-text-opacity));
}.text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(206 212 218 / var(--tw-text-opacity));
}.text-gray-900{
    --tw-text-opacity: 1;
    color: rgb(33 37 41 / var(--tw-text-opacity));
}.text-black{
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}.text-red-500{
    --tw-text-opacity: 1;
    color: rgb(192 50 33 / var(--tw-text-opacity));
}.text-gray-800{
    --tw-text-opacity: 1;
    color: rgb(52 58 64 / var(--tw-text-opacity));
}.underline{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}.antialiased{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}.opacity-0{
    opacity: 0;
}.opacity-100{
    opacity: 1;
}.shadow-sm{
    --tw-shadow: 0 .125rem .25rem rgba(17, 38, 146, 0.1);
    --tw-shadow-colored: 0 .125rem .25rem rgba(17, 38, 146, 0.1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow-lg{
    --tw-shadow: 0 10px 30px 0 rgba(17, 38, 146, 0.05);
    --tw-shadow-colored: 0 10px 30px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow-md{
    --tw-shadow: 0 .5rem 1rem rgba(17, 38, 146, 0.05);
    --tw-shadow-colored: 0 1rem var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow-active{
    --tw-shadow: 0 10px 20px -10px rgba(58,87,232, 0.4);
    --tw-shadow-colored: 0 10px 20px -10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow-none{
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow{
    --tw-shadow: 0 .5rem 1rem 0 rgba(17, 38, 146, 0.05);
    --tw-shadow-colored: 0 1rem 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.outline-none{
    outline: 2px solid transparent;
    outline-offset: 2px;
}.ring-1{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}.ring-gray-300{
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(222 226 230 / var(--tw-ring-opacity));
}.ring-black{
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity));
}.ring-opacity-5{
    --tw-ring-opacity: 0.05;
}.transition{
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}.transition-all{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}.duration-150{
    transition-duration: 150ms;
}.duration-500{
    transition-duration: 500ms;
}.duration-700{
    transition-duration: 700ms;
}.duration-200{
    transition-duration: 200ms;
}.duration-75{
    transition-duration: 75ms;
}.ease-in-out{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}.ease-in{
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}.ease-out{
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}.hover\:cursor-pointer:hover{
    cursor: pointer;
}.hover\:border-gray-300:hover{
    --tw-border-opacity: 1;
    border-color: rgb(222 226 230 / var(--tw-border-opacity));
}.hover\:border-gray-500:hover{
    --tw-border-opacity: 1;
    border-color: rgb(173 181 189 / var(--tw-border-opacity));
}.hover\:bg-indigo-100:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}.hover\:bg-blue-100:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(216 221 250 / var(--tw-bg-opacity));
}.hover\:bg-gray-50:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}.hover\:bg-blue-200:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(176 188 246 / var(--tw-bg-opacity));
}.hover\:bg-blue-600:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(46 70 186 / var(--tw-bg-opacity));
}.hover\:bg-orange-600:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(193 85 22 / var(--tw-bg-opacity));
}.hover\:bg-blue-700:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(35 52 139 / var(--tw-bg-opacity));
}.hover\:text-gray-500:hover{
    --tw-text-opacity: 1;
    color: rgb(173 181 189 / var(--tw-text-opacity));
}.hover\:text-gray-400:hover{
    --tw-text-opacity: 1;
    color: rgb(206 212 218 / var(--tw-text-opacity));
}.hover\:text-gray-700:hover{
    --tw-text-opacity: 1;
    color: rgb(73 80 87 / var(--tw-text-opacity));
}.hover\:text-blue-500:hover{
    --tw-text-opacity: 1;
    color: rgb(58 87 232 / var(--tw-text-opacity));
}.hover\:text-gray-900:hover{
    --tw-text-opacity: 1;
    color: rgb(33 37 41 / var(--tw-text-opacity));
}.hover\:text-gray-800:hover{
    --tw-text-opacity: 1;
    color: rgb(52 58 64 / var(--tw-text-opacity));
}.hover\:text-blue-600:hover{
    --tw-text-opacity: 1;
    color: rgb(46 70 186 / var(--tw-text-opacity));
}.hover\:text-white:hover{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}.hover\:shadow-md:hover{
    --tw-shadow: 0 .5rem 1rem rgba(17, 38, 146, 0.05);
    --tw-shadow-colored: 0 1rem var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.focus\:z-10:focus{
    z-index: 10;
}.focus\:border-blue-300:focus{
    --tw-border-opacity: 1;
    border-color: rgb(137 154 241 / var(--tw-border-opacity));
}.focus\:border-blue-500:focus{
    --tw-border-opacity: 1;
    border-color: rgb(58 87 232 / var(--tw-border-opacity));
}.focus\:border-indigo-700:focus{
    --tw-border-opacity: 1;
    border-color: rgb(67 56 202 / var(--tw-border-opacity));
}.focus\:border-gray-300:focus{
    --tw-border-opacity: 1;
    border-color: rgb(222 226 230 / var(--tw-border-opacity));
}.focus\:bg-indigo-100:focus{
    --tw-bg-opacity: 1;
    background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}.focus\:bg-gray-50:focus{
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}.focus\:bg-gray-200:focus{
    --tw-bg-opacity: 1;
    background-color: rgb(233 236 239 / var(--tw-bg-opacity));
}.focus\:bg-blue-500:focus{
    --tw-bg-opacity: 1;
    background-color: rgb(58 87 232 / var(--tw-bg-opacity));
}.focus\:text-indigo-800:focus{
    --tw-text-opacity: 1;
    color: rgb(55 48 163 / var(--tw-text-opacity));
}.focus\:text-gray-800:focus{
    --tw-text-opacity: 1;
    color: rgb(52 58 64 / var(--tw-text-opacity));
}.focus\:text-white:focus{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}.focus\:shadow:focus{
    --tw-shadow: 0 .5rem 1rem 0 rgba(17, 38, 146, 0.05);
    --tw-shadow-colored: 0 1rem 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.focus\:outline-none:focus{
    outline: 2px solid transparent;
    outline-offset: 2px;
}.focus\:ring:focus{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}.active\:bg-gray-100:active{
    --tw-bg-opacity: 1;
    background-color: rgb(248 249 250 / var(--tw-bg-opacity));
}.active\:text-gray-700:active{
    --tw-text-opacity: 1;
    color: rgb(73 80 87 / var(--tw-text-opacity));
}.active\:text-gray-500:active{
    --tw-text-opacity: 1;
    color: rgb(173 181 189 / var(--tw-text-opacity));
}.group:hover .group-hover\:bg-blue-200{
    --tw-bg-opacity: 1;
    background-color: rgb(176 188 246 / var(--tw-bg-opacity));
}.group:focus .group-focus\:text-gray-700{
    --tw-text-opacity: 1;
    color: rgb(73 80 87 / var(--tw-text-opacity));
}[dir="rtl"] .rtl\:ml-0{
    margin-left: 0px;
}[dir="rtl"] .rtl\:mr-auto{
    margin-right: auto;
}[dir="rtl"] .rtl\:mr-3{
    margin-right: 0.75rem;
}[dir="rtl"] .rtl\:mr-4{
    margin-right: 1rem;
}[dir="rtl"] .rtl\:ml-4{
    margin-left: 1rem;
}[dir="rtl"] .rtl\:mr-0{
    margin-right: 0px;
}[dir="rtl"] .rtl\:mr-2{
    margin-right: 0.5rem;
}[dir="rtl"] .rtl\:flex{
    display: flex;
}[dir="rtl"] .rtl\:rotate-180{
    --tw-rotate: 180deg;
    transform: var(--tw-transform);
}[dir="rtl"] .rtl\:justify-end{
    justify-content: flex-end;
}[dir="rtl"] .rtl\:pr-4{
    padding-right: 1rem;
}.dark .dark\:border-gray-700{
    --tw-border-opacity: 1;
    border-color: rgb(73 80 87 / var(--tw-border-opacity));
}.dark .dark\:bg-dark-card{
    --tw-bg-opacity: 1;
    background-color: rgb(34 39 56 / var(--tw-bg-opacity));
}.dark .dark\:bg-blue-800{
    --tw-bg-opacity: 1;
    background-color: rgb(23 35 93 / var(--tw-bg-opacity));
}.dark .dark\:bg-dark-bg{
    --tw-bg-opacity: 1;
    background-color: rgb(21 24 36 / var(--tw-bg-opacity));
}.dark .dark\:bg-gray-900{
    --tw-bg-opacity: 1;
    background-color: rgb(33 37 41 / var(--tw-bg-opacity));
}.dark .dark\:bg-gray-800{
    --tw-bg-opacity: 1;
    background-color: rgb(52 58 64 / var(--tw-bg-opacity));
}.dark .dark\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}.dark .dark\:text-gray-600{
    --tw-text-opacity: 1;
    color: rgb(108 117 125 / var(--tw-text-opacity));
}.dark .dark\:text-gray-500{
    --tw-text-opacity: 1;
    color: rgb(173 181 189 / var(--tw-text-opacity));
}.dark .dark\:text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(206 212 218 / var(--tw-text-opacity));
}.dark .dark\:opacity-0{
    opacity: 0;
}.dark .dark\:opacity-100{
    opacity: 1;
}.dark .dark\:hover\:border-gray-600:hover{
    --tw-border-opacity: 1;
    border-color: rgb(108 117 125 / var(--tw-border-opacity));
}.dark .dark\:hover\:bg-blue-800:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(23 35 93 / var(--tw-bg-opacity));
}.dark .dark\:hover\:text-blue-500:hover{
    --tw-text-opacity: 1;
    color: rgb(58 87 232 / var(--tw-text-opacity));
}@media (min-width: 640px){.sm\:ml-0{
        margin-left: 0px;
    }.sm\:block{
        display: block;
    }.sm\:flex{
        display: flex;
    }.sm\:hidden{
        display: none;
    }.sm\:h-20{
        height: 5rem;
    }.sm\:max-w-md{
        max-width: 28rem;
    }.sm\:flex-1{
        flex: 1 1 0%;
    }.sm\:items-center{
        align-items: center;
    }.sm\:items-stretch{
        align-items: stretch;
    }.sm\:justify-start{
        justify-content: flex-start;
    }.sm\:justify-center{
        justify-content: center;
    }.sm\:justify-between{
        justify-content: space-between;
    }.sm\:rounded-lg{
        border-radius: 0.5rem;
    }.sm\:px-6{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }.sm\:pt-0{
        padding-top: 0px;
    }.sm\:text-left{
        text-align: left;
    }.sm\:text-right{
        text-align: right;
    }
}@media (min-width: 768px){.md\:block{
        display: block;
    }.md\:w-2\/4{
        width: 50%;
    }.md\:grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }.md\:border-t-0{
        border-top-width: 0px;
    }.md\:border-l{
        border-left-width: 1px;
    }.md\:px-10{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}@media (min-width: 1024px){.lg\:mb-0{
        margin-bottom: 0px;
    }.lg\:flex{
        display: flex;
    }.lg\:hidden{
        display: none;
    }.lg\:h-64{
        height: 16rem;
    }.lg\:flex-grow{
        flex-grow: 1;
    }.lg\:justify-center{
        justify-content: center;
    }.lg\:p-10{
        padding: 2.5rem;
    }.lg\:py-0{
        padding-top: 0px;
        padding-bottom: 0px;
    }.lg\:px-8{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}@media (min-width: 1280px){.xl\:-right-3{
        right: -0.75rem;
    }.xl\:hidden{
        display: none;
    }.xl\:px-24{
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

